@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=League+Spartan:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@200;300;600&family=Poppins:wght@300;400&family=Ubuntu:wght@500&display=swap');
body{
    display: flex;
    flex-direction: column;
    gap: 0;
    background-image: url("../../../assets/dashboard/bg.png");
    background-size:cover;
    background-position: center top;
}
.header{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-shadow: 0 0 7px #09f3f3;
}

.logo-container img{
    width: 80px;
    filter: drop-shadow(0px 0px 5px rgb(6, 101, 244));
}

nav ul{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    gap: 40px;
    list-style: none;
}
nav ul li{
    display: flex;
    flex-direction: column;
    align-items: start;
}
nav ul li span{
    width: 0;
    height: 5px;
    background-color: rgb(33, 218, 218);
    border-radius: 6px;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover + span{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.header h3{
    color: white;
}

button{
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 5px 10px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}
.btn {
    --color: #07b3d1;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

.main{
    width: 100%;
    height: 100vh;
}

.herosection{
    margin: auto;
    width: 100%;
    display: grid;
    padding-top: 10%;
    grid-template-columns: 1fr 1.3fr;
}

.herodiscription{
    place-self: center;
    color: white;
    padding-left: 20%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.herodiscription h1{
    font-size:3rem;
    font-family: 'Ubuntu', sans-serif;
}

.heroimageContainer{
    position: relative;
}

.worldimage{
    position: absolute;
    left: 25%;
    top: -20%;
    width: 30%;
    filter: drop-shadow(0px 0px 10px rgb(82, 239, 239));
}

.handimage{
    position: absolute;
    width: 90%;
}

.floating-image {
    animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the vertical distance */
    }
}

@keyframes floatDiagonal {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-20px, -20px);
    }
}
@keyframes floatInvertDiagonal {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-20px, 20px);
    }
}

.services{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px 0px;
    padding-top: 10%;
    place-items: center;
}

.prism-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prism-container h2{
    color: rgb(19, 157, 118);
    text-shadow: 0px 0px 5px cyan;
    position: absolute;
    top: 150px;
    font-size: 30px;
    letter-spacing: 10px;
    margin-left: -60px;
}
.prism-container img:nth-child(2){
    position: absolute;
    width: 100%;
    top: -70px;
    animation: floatUpDown 3s ease-in-out infinite;
}
.prism-container img:nth-child(3){
    position: absolute;
    width: 50%;
    top: 40%;
    left: 55%;
    animation: floatInvertDiagonal 3s ease-in-out infinite;
}
.prism-container img:nth-child(4){
    position: absolute;
    width: 40%;
    top: 70px;
    right: 65%;
    animation: floatDiagonal 3s ease-in-out infinite;

}
.services .text-content{
    padding: 0 40px;
    padding-top: 70px;
    color: white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}
.text-content h2{
    font-size:xx-large;
    font-weight: bold;
    margin-bottom: 10px;
}
.text-content p{
    font-size: medium;
    font-weight:normal !important;
}

.cards_section{
    width: 100%;
    font-family: 'League Spartan', sans-serif
}

.cards_section .title_container{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    padding-top: 10%;
    text-align: center;
    color: white;
    font-weight: lighter;
}

.cards_section .title_container h2{
    font-weight: bold;
    font-size: 1.5rem;
}

.cards_container{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 40px;
    padding: 20px;
    border: 4px solid transparent; /* Set the border width and make it transparent */
    border-image: linear-gradient(30deg, #0c2f79, #0fa8d3); /* Define the linear gradient for the border */
    border-image-slice: 1; /* Ensures the entire border area is covered by the gradient */
    backdrop-filter: blur(10px);
}
.card img{
    width: 200px;
}
.card h2{
    font-weight: bold;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px){
    nav{
        display: none;
    }

    .herosection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .handimage{
        top: 50%;
    }

    .worldimage{
        top: 30%;
    }
    .herodiscription{
        padding-left: 0px;
    }
    .services{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    .prism-container h2{
        font-size: 24px;
        letter-spacing: 6px;
        margin-left: -30px;
    }
    .services .text-content{
        padding: 0 20px;
        padding-top: 70px;
    }
    .cards_container{
        grid-template-columns: 1fr;
    }
    .cards_section .title_container{
        width: 80%;
    }
}