.main-page{
    background: linear-gradient(to right, rgb(18, 31, 45), rgba(6, 9, 26, 0.8));
}

.toggler{
    background: rgba(130,130,130,0.8);
}

.main-page input{
    background-color: rgba(100,100,100,0.8);
    color: white;
}

.knowledge-side-bar{
    background-color: rgba(0,0,0,0.2);
}

.isUser{
    background-color: rgba(200,200,200,0.3);
}

.knowledge-side-bar__content{
    background-color: rgba(150,150,150,0.5);
}